{% load i18n static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>


    <title>SPACECOM LOYIHASINI O'ZBEKISTONDAGI HAMKORLARI</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/space.png' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-finance-business.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-clock-o"></i>Dush-Shan 09:00-17:00</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>(871) 246-62-11</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <header class="" >
      <nav class="navbar navbar-expand-lg" >
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}" ><h2 style=" color: #000 !important;">ERASMUS+</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" >
              <li class="nav-item">
                <a class="nav-link current" href="{% url 'home' %}"  target="_blank" style=" color: #000 !important;">{%trans 'Bosh sahifa'%}
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'posts' %}"  style=" color: #000 !important;">{%trans 'Yangiliklar'%}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}#about"  style=" color: #000 !important;">{%trans 'Biz haqimizda'%}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}#contactus"  style="color: #000 !important;">{% trans 'Bog`lanish'%}</a>
              </li>
                <form name="ui" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <input name="language" type="hidden"/>
{#                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">#}
{#                {% get_current_language as LANGUAGE_CODE %}#}
{#                {% get_language_info for LANGUAGE_CODE as lang %}#}
{#                {% get_available_languages as LANGUAGES %}#}
{#                {% get_language_info_list for LANGUAGES as languages %}#}
{#                {{ lang.name_local }}#}
{#                {{ lang.code|upper }}#}
                <span class="caret"></span>
                </form>
{#                <ul class="dropdown-menu">#}
{#                {% for language in languages %}#}
{#                    <li><a href="#" onclick="document.ui.language.value='{{ language.code}}'; document.ui.submit();">{{ language.code|upper }}</a></li>#}
{#                {% endfor %}#}
{#                </ul>#}

            <li class="nav-item dropdown">
             {% get_current_language as LANGUAGE_CODE %}
                {% get_language_info for LANGUAGE_CODE as lang %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
              <!-- Lang Dropdown Link -->
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{ lang.name_local|upper }}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- Lang Dropdown Choice -->
                  {% for language in languages %}
                    <a class="dropdown-item" style=" color: #000 !important;" href="#"onclick="document.ui.language.value='{{ language.code}}'; document.ui.submit();" >{{ language.name_local|upper }}</a>
                  {% endfor %}
                  <!-- Lang Dropdown Choice -->
{#                <a class="dropdown-item" href="#">RUS </a>#}
              </div>
            </li>
{#              <li class="nav-item dropdown">#}
{#              <!-- Lang Dropdown Link -->#}
{#              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style=" color: #000 !important;">UZB </a>#}
{#              <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                <!-- Lang Dropdown Choice -->#}
{#                <a class="dropdown-item" href="#"  style=" color: #000 !important;">ENG </a>#}
{#                <!-- Lang Dropdown Choice -->#}
{#                <a class="dropdown-item" href="#"  style=" color: #0b2e13 !important;">RUS </a>#}
{#              </div>#}
{#            </li>#}
{#            <li>#}
{#                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}#}
{#                        <input name="next" type="hidden" value="{{ redirect_to }}">#}
{#                        <select name="language">#}
{#                            {% get_current_language as LANGUAGE_CODE %}#}
{#                            {% get_available_languages as LANGUAGES %}#}
{#                            {% get_language_info_list for LANGUAGES as languages %}#}
{#                            {% for language in languages %}#}
{#                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}#}
{#                                        selected{% endif %}>#}
{#                                    {{ language.name_local }} ({{ language.code }})#}
{#                                    {{ language.code|upper }}#}
{#                                </option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                        <input type="submit" value="Go">#}
{#                    </form>#}
{#                </li>#}

            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
{#          <div class="item item-1">#}
{#            <div class="img-fill">#}
{#                <div class="text-content">#}
{#                  <h4>ERASMUS+ OLIY TA'LIM SOHASIDA <br>SALOHIYATNI OSHIRISH</h4>#}
{#                  <p>Kosmik tizimlar va aloqa texnologiyalari sohasidagi yangi o'quv dasturi SPACE.COM-609715-EPP-1-2019-1-UZ-EPPKA2-JP.</p>#}
{#                  <a href="#result" class="filled-button">Natjilalar</a>#}
{#                </div>#}
{#            </div>#}
{#          </div>#}
          <!-- // Item -->

          <!-- Item -->
{#          <div class="item item-2">#}
{#            <div class="img-fill">#}
{#                <div class="text-content">#}
{#                  <h4>MAVJUD MAGISTRLIK <br>&amp; PROGRAMMASI</h4>#}
{#                  <p>#}
{#                    Hozirgi kunda Muhammad al-Xorazmiy nomidagi Toshkent axborot texnologiyalari universitetida "Sun'iy yo'ldoshli aloqa tizimlari" magistraturasiga va Mirzo Ulug’bek nomidagi Toshkent davlat texnika universitetining "Avia-kosmik vositalar bilan tabiiy resurslarni tadqiq qilish" magistraturasiga hujjat topshirish imkoniyati mavjud#}
{#                  </p>#}
{#                  <a href="#news" class="filled-button">Yangiliklar</a>#}
{#                </div>#}
{#            </div>#}
{#          </div>#}
          <!-- // Item -->
          <!-- Item -->
{#          <div class="item item-3">#}
{#            <div class="img-fill">#}
{#                <div class="text-content">#}
{#                  <h4>KOSMIK TIZIMLAR VA ALOQA MUHANDISLIGI BO'YICHA  &amp; YANGI O'QUV DASTURI</h4>#}
{#                  <p>SPACE.COM - Yevropa Ittifoqi (YI) oliy ta'lim sohasida salohiyatni oshirish maqsadida 2019-yilda ishga tushirilgan, Erasmus+ bilan birgalikda moliyalashtiriladigan 3 yillik davlatlararo qoshma loyiha.</p>#}
{#                  <a href="#about" class="filled-button">Batafsil</a>#}
{#                </div>#}
{#            </div>#}
{#          </div>#}
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

{% block content %}

{% endblock content %}


    <div class="partners">
      <div class="container">
            <div class="row blog">
                <div class="col-md-12">
                    <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>

                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/api.png' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/milliy.png' %} " alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/sofia.png' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static '/images/farpi.jpeg' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/ubai.png' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/turin.jpeg' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/berlin.jpeg' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <!-- <div class="col-md-2">
                                        <a href="#">
                                            <img src="assets/images/tarmar.png" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div> -->
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/co.png' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/tuitqar.jpeg' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/sorbona.jpeg' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/tuit.png' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#">
                                            <img src="{% static 'images/exo.jpeg' %}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                    </div>
                    <!--.Carousel-->

                </div>
            </div>
      </div>

    </div>

              <!-- <div class="partner-item">
                <img src="assets/images/api.png" title="1" alt="1">
              </div>

              <div class="partner-item">
                <img src="assets/images/exo.jpeg" title="2" alt="2">
              </div>

              <div class="partner-item">
                <img src="assets/images/sofia.png" title="3" alt="3">
              </div>

              <div class="partner-item">
                <img src="assets/images/sorbona.jpeg" title="4" alt="4">
              </div>

              <div class="partner-item">
                <img src="assets/images/berlin.jpeg" title="5" alt="5">
              </div>

              <div class="partner-item">
                <img src="assets/images/tarmar.png" title="5" alt="5">
              </div>

              <div class="partner-item">
                <img src="assets/images/co.png" title="5" alt="5">
              </div>

              <div class="partner-item">
                <img src="assets/images/tuitqar.jpeg" title="5" alt="5">
              </div>

              <div class="partner-item">
                <img src="assets/images/ubai.png" title="5" alt="5">
              </div>
              <div class="partner-item">
                <img src="assets/images/turin.jpeg" title="5" alt="5">
              </div>
              <div class="partner-item">
                <img src="assets/images/farpi.jpeg" title="5" alt="5">
              </div>
              <div class="partner-item">
                <img src="assets/images/tuit.png" title="5" alt="5">
              </div>
              <div class="partner-item">
                <img src="assets/images/milliy.png" title="5" alt="5">
              </div> -->

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>Erasmus+</h4>
            <p>{% trans 'Ushbu loyiha Yevropa Komissiyasi ko`magida moliyalashtirildi. Bu veb-sayt faqat mualliflarning fikrlarini aks ettiradi va Komissiya undagi ma`lumotlardan foydalanish uchun javobgarlikni o`z zimmasiga olmaydi.'%}</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>{% trans 'Foydali havolalar'%}</h4>
            <ul class="menu-list">
              <li><a href="#">{%trans 'Loyiha hujjatlari'%}</a></li>
              <li><a href="#">{%trans 'Loyiha boshqaruvi'%}</a></li>
              <li><a href="#">Spacecom</a></li>
              <li><a href="#">ERASMUS+ </a></li>
              <!--
              <li><a href="#">Cursus augue hasellus</a></li>
              <li><a href="#">Lacinia ac sapien</a></li> -->
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>{%  trans 'Sahifalar' %}</h4>
            <ul class="menu-list">
              <li><a href="#">{%trans 'Biz haqimizda'%}</a></li>
              <li><a href="#">{%trans 'Ish faoliyatimiz'%}</a></li>
              <li><a href="#">{%trans 'Qo`lab-quvvatlash'%}</a></li>
              <li><a href="#">{%trans 'Biz bilan aloqa'%}</a></li>
              <li><a href="#">{%trans 'Maxfiylik siyosati'%}</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item last-item">
            <h4>{%trans 'Tezkor bog`lanish'%}</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="{% trans 'Full Name'%}" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder=" {%trans 'E-Mail Address'%}" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="{%trans 'Your Message'%}" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">{%trans 'Xabar jo`natish'%}</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2022 ERASMUS+ Ltd.

            - Design: <a rel="nofollow noopener" href="https://gita.uz" target="_blank">GITA</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>
    <script>
      $(function() {
        // Single Page Nav
        $('#navbarResponsive').singlePageNav({
          'offset': 100,
          'filter': ':not(.external)'
        });

        // On mobile, close the menu after nav-link click
        $('#navbarResponsive .navbar-nav .nav-item .nav-link').click(function(){
          $('#navbarResponsive').removeClass('show');
        });
      });
    </script>

    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>